body {
    background-color:#f2f7f7;
}

section {
    display:block;
    width: fit-content;
    color:#282425;
    background-color:#dce6e9;
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    margin: 20px 300px 20px 200;
    padding: 20px;
    border: 2px solid #2e869c ;  
    border-radius: 20px;
    
    
}

p {
    color:#282425;
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    padding: 0 70px;
}

.thermo {
    width: 10%;
    border: 2px solid #756158;
    border-radius: 50%;
    float: left;
    margin: 32px;
}